.frame {
  position: relative;
  display: inline-block;
  max-width: min(1200px, 90%);
}

.frame-img {
  display: block;
  width: 100%;
  height: auto;
}

.tag-container {
  position: absolute;
}

.tag-box {
  border: 2px solid rgb(255, 255, 255);
  background-color: rgba(250, 250, 250, 0.1);
}

.dropdown {
  position: absolute;
  top: 100%;
  background-color: white;
  border: 1px solid #999;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.dropdown-item {
  padding: 4px 8px;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #d0e7ff;
}